.grid {
    display: grid;
    grid-template-columns: repeat(6, [col] 1fr);
    grid-template-rows: repeat(3, [row] 1fr);
    height: 300px;
    gap: 10px;
    border: 1px dashed black;
}

.grid-item1 {
    background-color:  rgb(255, 0, 76);
    grid-column: span 2;
}

.grid-item2 {
    background-color: rgb(255, 136, 0);
    grid-column: col 3 / span 2;
    grid-row: span 2;
}

.grid-item3 {
    background-color: rgb(217, 255, 0);
    grid-column: col 5;
    grid-row: span 2;
}
.grid-item4 {
    background-color: rgb(0, 255, 26);
}

.grid-item5 {
    background-color: rgb(0, 255, 140);
}

.grid-item6 {
    background-color: rgb(0, 251, 255);
}

.grid-item7 {
    background-color: rgb(0, 179, 255);
}

.grid-item8{
    background-color: rgb(0, 94, 255);
}

.grid-item9 {
    background-color: rgb(13, 0, 255);
    grid-column: col 2 / span 2;
}

.grid-item10 {
    background-color: rgb(106, 0, 255);
    grid-column: col 4 / span 2;
}

.grid-item11 {
    background-color: rgb(221, 0, 255);
}