.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 300px;
    border: 1px dashed #000;
    align-items: ;          /*strtech start end center*/
    justify-items: ;  /*strtech start end center*/
}

.grid-item {
    background-color: bisque;
    border: 1px dashed #000;
}

.grid-item1 {
    align-self: ;           /*stretch start end center*/
    justify-self: ;         /*stretch start end center*/
}