.grid {
    display: grid;
    height: 500px;
    gap: 15px;
    border: 1px dashed #000;
    align-content: space-evenly;        /*strtech start end center space-around space-between space-evenly*/
    justify-content: space-around;    /*strtech start end center space-around space-between space-evenly*/
}

.grid-item {
    width: 100px;
    height: 100px;
}

.grid-item1 {
    background-color: rgb(66, 222, 81);
}

.grid-item2 {
    background-color: rgb(147, 68, 212);
}

.grid-item3 {
    background-color: rgb(139, 83, 14);
}