.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: 100vh;
    gap: 5px;
    border: 1px dashed black;
    grid-auto-flow: row dense; /*row column dense*/
}

.grid-item:nth-of-type(2),
.grid-item:nth-of-type(3) {
    grid-column: span 2;
}

.grid-item:nth-of-type(7),
.grid-item:nth-of-type(9) {
    order: 1;
}

.grid-item1 {
    background-color:  rgb(255, 0, 76);
}

.grid-item2 {
    background-color: rgb(255, 136, 0);
}

.grid-item3 {
    background-color: rgb(217, 255, 0);
}

.grid-item4 {
    background-color: rgb(0, 255, 26);
}

.grid-item5 {
    background-color: rgb(0, 255, 140);
}

.grid-item6 {
    background-color: rgb(0, 251, 255);
}

.grid-item7 {
    background-color: rgb(0, 179, 255);
}

.grid-item8{
    background-color: rgb(0, 94, 255);
}

.grid-item9 {
    background-color: rgb(13, 0, 255);
}

.grid-item10 {
    background-color: rgb(106, 0, 255);
}

.grid-item11 {
    background-color: rgb(221, 0, 255);
}